body {    
  background-image: url("moon.jpg");  
  background-color: lightgray; 
  font-size: 1.5rem; 
  } 
  
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:20%;
}
h1,h2,h3{
  color: pink;

}

.grid-container{
    display:grid;
    grid-template-columns: auto;
}
.grid-item{
   background-color:aqua;
   padding:10px;
   text-align: center;
   font-size: 24px;
   width:500px;
   
}

.container{
  border: 4px solid violet;
  color:beige;
  max-width:150 ;
  min-height: 300;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  
}
  


.box{
  /* min-width: 100px; */
  height: 100px;
  background-color: aqua;
  color:pink;
  font-size: 2rem;
  padding: 0.5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 200px; 
}